.hobbies-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 10rem;
    overflow-y: scroll;
}

.box-wrap {
    margin: 5rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.progress-bar {
    width: 76%;
}

@media (max-width:1400px) {
    .hobbies-wrap {
        display: block;
    }

    .img-prev {
        margin: 0 auto;
    }
}

label {
    margin: 0 .5rem;
}

.hidden {
    display: none;
}

.wrong-input {
    border: 1px solid red;
    background-color: salmon;
}

a {
    text-decoration: none;
    color: black;
}

.img-prev {
    max-width: 20rem;
    border-radius: 50px;
    margin-top: 1rem;
}