.hobbies-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 10rem;
    overflow-y: scroll;
}

@media (max-width:770px) {
    .hobbies-wrap {
        display: block;
    }

    .img-prev {
        margin: 0 auto;
    }
}

label {
    margin: 0 .5rem;
}

.hidden {
    display: none;
}

.wrong-input {
    border: 1px solid red;
    background-color: salmon;
}

a {
    text-decoration: none;
    color: black;
}

.img-prev {
    max-width: 20rem;
    border-radius: 50px;
}